@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>
<center>
    @*<div class="container" style="width:500px;height:500px;">

    </div>*@
    <div class="container row mb-2">
        <div class="container col" >
            <div class="card " id="card-body1" style="width: 18rem;">
                <img src="~/Content/Image/University.png" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">University</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <a id="btn-primary" class="btn btn-primary" href="@Url.Action("Login", "University")">University Login</a>
                </div>
            </div>
        </div>
        <div class="container col" >
            <div class="card" id="card-body2" style="width: 18rem;">
                <img src="~/Content/Image/College2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">College</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a id="btn-primary" class="btn btn-primary" href="@Url.Action("Login", "College")">College Login</a>
                </div>
            </div>
        </div>
        <div class="container col" >
            <div class="card" id="card-body3" style="width: 18rem;">
                <img src="~/Content/Image/Student.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Student</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a id="btn-primary" class="btn btn-primary" href="@Url.Action("Login", "Student")">Student Login</a>
                </div>
            </div>
        </div>
    </div>
</center>

<style>
    .card {
        border-radius: 4px;
       /* background: #fff;*/
      
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        padding: 20px 20px 20px 20px;
        cursor: pointer;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
            /*  box-shadow: 5px ;*/
        }
    .card-body{
        color:black;
    }
    #btn-primary {
        background-color: #6082B6;
    }
   
</style>